body {
  font-size: 0.88889em;
  background: #0087ce;
  font-family: "Droid Serif", serif;
  width: 1210px;
  margin: 6em auto;
  font-size: 62.5%; }

h1, h2 {
  color: white;
  font-family: "Oswald", sans-serif; }

article {
  margin-bottom: 3em;
  padding-top: 0.25em; }
  article h2 {
    font-size: 2.5em;
    color: #0087ce; }
  article p {
    line-height: 1.5;
    font-size: 1.6em;
    color: #222222; }

#mynav {
  width: 270px;
  position: fixed; }
  #mynav h1, #mynav h2, #mynav h3 {
    color: white;
    margin: 0; }
  #mynav h1 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 4.3em; }
  #mynav h2 {
    font-size: 2em; }
  #mynav h3 {
    margin-top: 2em;
    font-size: 1.8em; }
  #mynav ul {
    background: white;
    border-radius: 4;
    padding: 0.5em 2em; }
    #mynav ul li {
      list-style: none;
      padding: 1em 0; }
      #mynav ul li a {
        color: black;
        text-decoration: none; }
        #mynav ul li a.active {
          color: #0087ce;
          padding-left: 0.5em; }

.code {
  margin: 1em 0;
  padding: 1em 1.5em;
  font-weight: 600;
  color: #555555;
  display: block;
  background-color: #efefef;
  overflow: auto;
  border: 2px solid #dadada;
  font-family: "Courier New", Courier, monospace; }

#myContent {
  width: 800px;
  background: white;
  padding: 1em 2em;
  margin-left: 350px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); }
